[submodule "urbanECG"]
	path = urbanECG
	url = git@github.com:FAR-Lab/urbanECG.git
[submodule "cambrian"]
	path = cambrian
	url = git@github.com:cambrian-mllm/cambrian.git
[submodule "Janus"]
	path = Janus
	url = git@github.com:deepseek-ai/Janus.git
[submodule "KDD-2025-Flooding-Paper"]
	path = KDD-2025-Flooding-Paper
	url = git@github.com:mattwfranchi/KDD-2025-Flooding-Paper.git
