[submodule "cambrian"]
	path = cambrian
	url = git@github.com:cambrian-mllm/cambrian.git
[submodule "Janus"]
	path = Janus
	url = git@github.com:deepseek-ai/Janus.git
[submodule "papers/natcities_bayflood_2025"]
	path = papers/natcities_bayflood_2025
	url = git@github.com:pendulating/natcities_bayflood_2025.git
